<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .navbarHome {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .CheckChefs {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
</style>

<body>
    @model List<Chef>
<nav class="navbarHome">
    <button><a href="@Url.Action("Chefs", "Home")">Chefs</a>|</button>
    <button><a href="@Url.Action("Dishes", "Home")">Dishes</a>|</button>
    <button><a href="@Url.Action("AddChef", "Home")">Add a chef</a>|</button>
    <button><a href="@Url.Action("AddDishe", "Home")">Add a Dish</a>|</button>
</nav>

<div class="CheckChefs">
    <h1>Check Out Our Roster Of Chefs ! </h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col"># Of Dishes</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            foreach (Chef chef in Model)
            {
                int age = DateTime.Now.Year - chef.DtaeOfBirth.Year;
                if (DateTime.Now < chef.DtaeOfBirth.AddYears(age))
                {
                    age--;
                }

                <tr>
                    <td>@chef.FirstName @chef.LastName</td>
                    <td>@age</td>
                    <td>@chef.ChefDishes.Count</td>

                </tr>
            }
        }
    </tbody>
</table>

</body>
</html>
